In [1]:
import pandas as pd

In [5]:
# Read the data from the all_reports.csv file 
df = pd.read_csv('all_reported.csv', names=["compound", "modifier", "head"], keep_default_na=False)
df

         compound  modifier       head
0         Ansicht        an      Sicht
1       Spielende     Spiel       Ende
2    Förderverein   fördern     Verein
3         Anblick        an      Blick
4        Andenken        an     denken
5     Lernkonzept    lernen    Konzept
6      Mittelwert  mittlere       Wert
7        Buslinie       Bus      Linie
8     Dumpinglohn   dumping       Lohn
9         Vorsatz       vor       Satz
10     Schauspiel     Schau      Spiel
11      Mittelmaß  mittlere        Maß
12  Klubbetreiber      Klub  Betreiber
13     Schlagzeug  schlagen       Zeug
14      Aufkommen       auf     kommen

In [7]:
main_df = pd.read_csv('../../assets/filtered_compounds.csv', keep_default_na=False)
main_df

                  compound modifier          head frequency_class
0               Aalbestand      Aal       Bestand            22.0
1                  Aalfang      Aal          Fang            20.0
2                 Aalfisch      Aal         Fisch
3                Aalmutter      Aal        Mutter
4                 Aalraupe      Aal         Raupe
...                    ...      ...           ...             ...
112994  Übungsunterweisung    Übung  Unterweisung
112995         Übungswiese    Übung         Wiese            21.0
112996          Übungszeit    Übung          Zeit            18.0
112997          Übungsziel    Übung          Ziel            20.0
112998         Übungszweck    Übung         Zweck            19.0

[112999 rows x 4 columns]

In [10]:
# Print the compounds that are already in the filtered_compounds.csv file
df_in_both = df.merge(main_df, on=['compound'])
df_in_both

       compound modifier_x   head_x modifier_y   head_y frequency_class
0     Spielende      Spiel     Ende      Spiel     Ende            15.0
1  Förderverein    fördern   Verein    fördern   Verein            12.0
2      Andenken         an   denken         an   Denken            14.0
3   Lernkonzept     lernen  Konzept     lernen  Konzept
4    Mittelwert   mittlere     Wert   mittlere     Wert            16.0
5      Buslinie        Bus    Linie        Bus    Linie            14.0
6   Dumpinglohn    dumping     Lohn    Dumping     Lohn            18.0
7    Schauspiel      Schau    Spiel    schauen    Spiel            13.0
8     Mittelmaß   mittlere      Maß   mittlere      Maß            15.0
9    Schlagzeug   schlagen     Zeug     Schlag     Zeug            13.0

In [12]:
# Filter the compounds from df_in_both where modifier_x is not equal to modifier_y or head_x is not equal to head_y
df_different = df_in_both[(df_in_both['modifier_x'] != df_in_both['modifier_y']) | (df_in_both['head_x'] != df_in_both['head_y'])]
df_different

      compound modifier_x  head_x modifier_y  head_y frequency_class
2     Andenken         an  denken         an  Denken            14.0
6  Dumpinglohn    dumping    Lohn    Dumping    Lohn            18.0
7   Schauspiel      Schau   Spiel    schauen   Spiel            13.0
9   Schlagzeug   schlagen    Zeug     Schlag    Zeug            13.0

In [14]:
# Combine df_different with the rows from df that are not in df_main
df_different = df_different[['compound', 'modifier_x', 'head_x']]
df_different.columns = ['compound', 'modifier', 'head']
df_new = df_different.append(df[~df['compound'].isin(df_in_both['compound'])])
df_new

C:\Users\Martin\AppData\Local\Temp\ipykernel_6320\2493669357.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_new = df_different.append(df[~df['compound'].isin(df_in_both['compound'])])

         compound  modifier       head
2        Andenken        an     denken
6     Dumpinglohn   dumping       Lohn
7      Schauspiel     Schau      Spiel
9      Schlagzeug  schlagen       Zeug
0         Ansicht        an      Sicht
3         Anblick        an      Blick
9         Vorsatz       vor       Satz
12  Klubbetreiber      Klub  Betreiber
14      Aufkommen       auf     kommen

In [16]:
# Sort the rows by compound
df_sorted = df_new.sort_values(by=['compound'])
df_sorted

         compound  modifier       head
3         Anblick        an      Blick
2        Andenken        an     denken
0         Ansicht        an      Sicht
14      Aufkommen       auf     kommen
6     Dumpinglohn   dumping       Lohn
12  Klubbetreiber      Klub  Betreiber
7      Schauspiel     Schau      Spiel
9      Schlagzeug  schlagen       Zeug
9         Vorsatz       vor       Satz

In [19]:
# Save the new dataframe to a csv file
df_sorted.to_csv('../../assets/reported_compounds.csv', index=False)