In [27]:
import pandas as pd
import math

In [28]:
# Load the main compound data
df = pd.read_csv('compounds_data/cleansed_compounds.csv', keep_default_na=False)
df.head()

     compound modifier     head
0  Aalbestand      Aal  Bestand
1     Aalfang      Aal     Fang
2    Aalfisch      Aal    Fisch
3   Aalmutter      Aal   Mutter
4   Aalquappe      Aal   Quappe

In [29]:
df_de_web = pd.read_csv('frequency_data/deu-de_web_2021_1M-words.txt', sep="\t", header=None, names=['word', 'freq'])
df_de_web

                    word    freq
101                  und  506683
102                  der  443830
103                  die  422247
104                   in  243094
105                  für  161903
...                  ...     ...
694898              ﻿Aus       1
694899             ﻿Beim       1
694900  ﻿Digitalisierung       1
694901    ﻿Überdosierung       1
694902                         1

[694802 rows x 2 columns]

In [30]:
# Calculate the frequency class for each word: ⌊log2(max_f/f(grundform))+0,5⌋
max_f = df_de_web['freq'].max()
df_de_web['freq_class'] = df_de_web['freq'].apply(lambda x: int(math.floor(math.log2(max_f/x)+0.5)))
df_de_web

                    word    freq  freq_class
101                  und  506683           0
102                  der  443830           0
103                  die  422247           0
104                   in  243094           1
105                  für  161903           2
...                  ...     ...         ...
694898              ﻿Aus       1          19
694899             ﻿Beim       1          19
694900  ﻿Digitalisierung       1          19
694901    ﻿Überdosierung       1          19
694902                         1          19

[694802 rows x 3 columns]

In [31]:
# Merge the frequency class into the main compound data
df_merged = df.merge(df_de_web, how='left', left_on='compound', right_on='word')
df_merged = df_merged.drop(columns=['word', 'freq'])
df_merged

                   compound    modifier        head  freq_class
0                Aalbestand         Aal     Bestand         NaN
1                   Aalfang         Aal        Fang         NaN
2                  Aalfisch         Aal       Fisch         NaN
3                 Aalmutter         Aal      Mutter         NaN
4                 Aalquappe         Aal      Quappe         NaN
...                     ...         ...         ...         ...
118185          Zypressenöl    Zypresse          Öl         NaN
118186  Zypressenwolfsmilch    Zypresse  Wolfsmilch         NaN
118187   Zytologieassistent   Zytologie   Assistent         NaN
118188           Zytoplasma        zyto      Plasma        19.0
118189   Zytoplasmafortsatz  Zytoplasma    Fortsatz         NaN

[118190 rows x 4 columns]

In [32]:
# Show statistics on the frequency class
print(df_merged['freq_class'].value_counts(dropna=False).sort_index())

6.0         1
7.0         1
8.0        18
9.0        37
10.0      100
11.0      245
12.0      656
13.0     1335
14.0     2504
15.0     4500
16.0     6398
17.0    11034
18.0     8743
19.0    18573
NaN     64045
Name: freq_class, dtype: int64

In [33]:
# Add the frequency data from the derewo dataset
df_derewo = pd.read_csv('frequency_data/derewo-v-ww-bll-250000g-2011-12-31-0.1/data_without_header.txt', sep=" ", header=None, names=['word', 'freq_derewo'], index_col=False)
df_merged = df_merged.merge(df_derewo, how='left', left_on='compound', right_on='word')
df_merged = df_merged.drop(columns=['word'], axis=1)

C:\Users\Martin\AppData\Local\Temp\ipykernel_6984\3580354791.py:2: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df_derewo = pd.read_csv('frequency_data/derewo-v-ww-bll-250000g-2011-12-31-0.1/data_without_header.txt', sep=" ", header=None, names=['word', 'freq_derewo'], index_col=False)

In [34]:
# For each of the frequencies, show 5 random compounds with that frequency
freqs = df_merged['freq_class'].unique()
freqs.sort()
for freq in freqs:
    print(f"Frequency:{freq}, Count:{df_merged[df_merged['freq_class'] == freq].shape[0]}")
    count = df_merged[df_merged['freq_class'] == freq].shape[0]
    sample_size = min(count, 8)
    print(df_merged[df_merged['freq_class'] == freq].sample(n=sample_size, random_state=1))
    print('----------------')

Frequency:6.0, Count:1
         compound modifier    head  freq_class  freq_derewo
43619  Hochschule     hoch  Schule         6.0         11.0
----------------
Frequency:7.0, Count:1
        compound modifier  head  freq_class  freq_derewo
38818  Grundlage    grund  Lage         7.0         11.0
----------------
Frequency:8.0, Count:18
           compound modifier    head  freq_class  freq_derewo
30957     Freistaat     frei   Staat         8.0         13.0
3315         Anzahl       an    Zahl         8.0         12.0
104560       Umwelt       um    Welt         8.0         11.0
3129         Anteil       an    Teil         8.0         10.0
111674     Webseite      Web   Seite         8.0         14.0
57721     Landkreis     Land   Kreis         8.0         11.0
113352   Wettbewerb    Wette  Bewerb         8.0         10.0
3562    Arbeitgeber   Arbeit   Geber         8.0         11.0
----------------
Frequency:9.0, Count:39
                 compound modifier         head  freq_class  freq_derewo
10380         Bestandteil  Bestand         Teil         9.0         12.0
95428            Standort    Stand          Ort         9.0         10.0
15219   Bundesministerium     Bund  Ministerium         9.0         14.0
57567     Landesregierung     Land    Regierung         9.0         11.0
73624            Passwort     Pass         Wort         9.0         16.0
91782             Sonntag    Sonne          Tag         9.0          8.0
57924      Landwirtschaft     Land   Wirtschaft         9.0         11.0
114051     Wintersemester   Winter     Semester         9.0         14.0
----------------
Frequency:10.0, Count:101
               compound  modifier       head  freq_class  freq_derewo
96093     Stellungnahme  Stellung      Nahme        10.0         12.0
69086       Naturschutz     Natur     Schutz        10.0         13.0
11817        Bildschirm      Bild     Schirm        10.0         12.0
117308     Zugangsdaten    Zugang      Daten        10.0          NaN
29962    Förderprogramm   fördern   Programm        10.0         14.0
86982     Schnittstelle   Schnitt     Stelle        10.0         14.0
46290        Innenstadt     innen      Stadt        10.0         11.0
79837   Rechtsgrundlage     Recht  Grundlage        10.0         15.0
----------------
Frequency:11.0, Count:245
                      compound     modifier          head  freq_class  \
29902             Förderbedarf      fördern        Bedarf        11.0
117011       Zivilgesellschaft        zivil  Gesellschaft        11.0
98088          Studienberatung      Studium      Beratung        11.0
105443      Unterrichtseinheit   Unterricht       Einheit        11.0
40915             Hauptbahnhof        haupt       Bahnhof        11.0
104970  Universitätsbibliothek  Universität    Bibliothek        11.0
23456             Ergotherapie         ergo      Therapie        11.0
58666               Lebensraum        Leben          Raum        11.0

        freq_derewo
29902          18.0
117011         16.0
98088          18.0
105443         17.0
40915          12.0
104970         16.0
23456          17.0
58666          13.0
----------------
Frequency:12.0, Count:657
                   compound    modifier        head  freq_class  freq_derewo
87982       Schulunterricht      Schule  Unterricht        12.0         16.0
108252   Verwaltungsgericht  Verwaltung     Gericht        12.0         13.0
117517  Zulassungsverfahren   Zulassung   Verfahren        12.0         18.0
54762             Kreislauf       Kreis        Lauf        12.0         14.0
42783           Herzinfarkt        Herz     Infarkt        12.0         14.0
93409        Sportabzeichen       Sport   Abzeichen        12.0         15.0
6866         Bachelorarbeit    Bachelor      Arbeit        12.0          NaN
59716            Lernmittel      lernen      Mittel        12.0         18.0
----------------
Frequency:13.0, Count:1335
               compound  modifier       head  freq_class  freq_derewo
35211    Gesamtergebnis    gesamt   Ergebnis        13.0         16.0
105759  Urlaubssemester    Urlaub   Semester        13.0         21.0
112879      Werbemittel    werben     Mittel        13.0         17.0
41591    Haushaltshilfe  Haushalt      Hilfe        13.0         16.0
99245        Tagesschau       Tag      Schau        13.0         14.0
47260         Jahrestag      Jahr        Tag        13.0         13.0
30620      Frauenanteil      Frau     Anteil        13.0         16.0
91998   Sozialkompetenz    sozial  Kompetenz        13.0         17.0
----------------
Frequency:14.0, Count:2505
                   compound  modifier          head  freq_class  freq_derewo
46061             Infostand      Info         Stand        14.0         15.0
20653       Einkaufszentrum   Einkauf       Zentrum        14.0         13.0
19454         Druckqualität     Druck      Qualität        14.0         19.0
81921  Rettungshubschrauber   Rettung  Hubschrauber        14.0         14.0
65820      Mitgliedsbeitrag  Mitglied       Beitrag        14.0         15.0
29963         Förderprojekt   fördern       Projekt        14.0         18.0
47303            Jahreszins      Jahr          Zins        14.0         19.0
99990          Teammitglied      Team      Mitglied        14.0         17.0
----------------
Frequency:15.0, Count:4506
                        compound          modifier        head  freq_class  \
111765                  Wegenetz               Weg        Netz        15.0
102655             Trainingsplan          Training        Plan        15.0
115636             Zahnheilkunde              Zahn   Heilkunde        15.0
50831          Kirchengeschichte            Kirche  Geschichte        15.0
38264              Grenzübergang            Grenze    Übergang        15.0
56014               Kundenwunsch             Kunde      Wunsch        15.0
5463            Ausbildungsphase        Ausbildung       Phase        15.0
107641  Verschwiegenheitspflicht  Verschwiegenheit     Pflicht        15.0

        freq_derewo
111765         17.0
102655         17.0
115636         19.0
50831          17.0
38264          14.0
56014          16.0
5463           20.0
107641         19.0
----------------
Frequency:16.0, Count:6403
                         compound          modifier       head  freq_class  \
68078               Nachholtermin         nachholen     Termin        16.0
30818             Frauenwahlrecht              Frau  Wahlrecht        16.0
80763               Reichskanzler             Reich    Kanzler        16.0
16214                    Chlorgas             Chlor        Gas        16.0
24436             Europaparlament            Europa  Parlament        16.0
33364                 Geburtsname            Geburt       Name        16.0
32641              Garnisonsstadt          Garnison      Stadt        16.0
101029  Textverarbeitungsprogramm  Textverarbeitung   Programm        16.0

        freq_derewo
68078          18.0
30818          18.0
80763          16.0
16214          18.0
24436          14.0
33364          18.0
32641          18.0
101029         19.0
----------------
Frequency:17.0, Count:11038
            compound  modifier      head  freq_class  freq_derewo
87524      Schulaula    Schule      Aula        17.0         19.0
2368   Ampelmännchen     Ampel  Männchen        17.0         19.0
2441        Amtsjahr       Amt      Jahr        17.0         16.0
86761  Schneckenkorn  Schnecke      Korn        17.0         20.0
44333      Holzmenge      Holz     Menge        17.0         20.0
53873   Körperkultur    Körper    Kultur        17.0         19.0
69530    Nesthäkchen      Nest   Häkchen        17.0         17.0
95921     Steinhauer     Stein     Hauer        17.0         16.0
----------------
Frequency:18.0, Count:8746
                   compound    modifier        head  freq_class  freq_derewo
59349          Leistenkanal      Leiste       Kanal        18.0         23.0
109129  Vollmilchschokolade   Vollmilch  Schokolade        18.0         20.0
3159        Antikensammlung      Antike    Sammlung        18.0         18.0
23051             Erdaushub        Erde      Aushub        18.0         17.0
116683      Zigarettenmarke   Zigarette       Marke        18.0         19.0
55864         Kultursenator      Kultur     Senator        18.0         15.0
52275       Kohlenförderung       Kohle   Förderung        18.0         23.0
114266     Wirtschaftsforum  Wirtschaft       Forum        18.0         16.0
----------------
Frequency:19.0, Count:18574
                     compound         modifier              head  freq_class  \
12389                 Bitrate              Bit              Rate        19.0
27950              Filmkritik             Film            Kritik        19.0
68000       Nachfolgeabkommen        Nachfolge          Abkommen        19.0
48087  Justizfachangestellter           Justiz  Fachangestellter        19.0
35839  Geschwindigkeitsmesser  Geschwindigkeit            Messer        19.0
43941              Hofgericht              Hof           Gericht        19.0
54449    Krankheitsüberträger        Krankheit        Überträger        19.0
72549          Osterwanderung           Ostern         Wanderung        19.0

       freq_derewo
12389          NaN
27950         17.0
68000         19.0
48087          NaN
35839         20.0
43941         21.0
54449         20.0
72549          NaN
----------------
Frequency:nan, Count:0
Empty DataFrame
Columns: [compound, modifier, head, freq_class, freq_derewo]
Index: []
----------------