In [7]:
# This notebook will add the accepted reported compounds to the filtered_compounds.csv file and remove the blocked compounds.
# Then the resulting file will get saved in assets/final_compounds.csv

# Run this script whenever the accepted or blocked compounds change

import pandas as pd
import numpy as np
import os

In [8]:
df = pd.read_csv('compounds_data/filtered_compounds.csv', keep_default_na=False)
df_reported = pd.read_csv('reported/report_accepted.csv', keep_default_na=False)
df_blocked = pd.read_csv('reported/blocked_compounds.csv', keep_default_na=False)

# For each compound in the reported compounds, count how many times it was reported
counts = df_reported.groupby('compound').size().reset_index(name='count').sort_values('count', ascending=False).head()
display(counts)

# Keep only one entry for each compound
df_reported = df_reported.drop_duplicates(subset=['modifier', 'head'], keep='first')

       compound  count
0     Abschnitt      1
21     Maßnahme      1
23   Mittelwert      1
24    Nachklang      1
25  Nationalelf      1

In [9]:
# Add the accepted reported compounds to the df 
df_with_reported = pd.concat([df, df_reported], ignore_index=True)

df_with_reported

                compound     modifier     head frequency_class
0             Aalbestand          Aal  Bestand            22.0
1                Aalfang          Aal     Fang            20.0
2               Aalfisch          Aal    Fisch
3              Aalmutter          Aal   Mutter
4               Aalraupe          Aal    Raupe
...                  ...          ...      ...             ...
113035  Selbsthilfeforum  Selbsthilfe    Forum             NaN
113036           anhören           an    Hören             NaN
113037    Beispielsweise     Beispiel    Weise             NaN
113038             Anbau           an      Bau             NaN
113039           Ansagen           an    Sagen             NaN

[113040 rows x 4 columns]

In [10]:
# Remove the blocked compounds from the df
df_final = df_with_reported[~df_with_reported['compound'].isin(df_blocked['compound'])]
df_final

                compound     modifier     head frequency_class
0             Aalbestand          Aal  Bestand            22.0
1                Aalfang          Aal     Fang            20.0
2               Aalfisch          Aal    Fisch
3              Aalmutter          Aal   Mutter
4               Aalraupe          Aal    Raupe
...                  ...          ...      ...             ...
113035  Selbsthilfeforum  Selbsthilfe    Forum             NaN
113036           anhören           an    Hören             NaN
113037    Beispielsweise     Beispiel    Weise             NaN
113038             Anbau           an      Bau             NaN
113039           Ansagen           an    Sagen             NaN

[113039 rows x 4 columns]

In [11]:
# Make sure that there are no duplicates (same head and modifier)
# Show the duplicates
duplicates = df_final[df_final.duplicated(subset=['head', 'modifier'], keep=False)]
display(duplicates.sort_values(by="compound"))

# This should be empty
assert len(duplicates) == 0

Empty DataFrame
Columns: [compound, modifier, head, frequency_class]
Index: []

In [12]:
# Save the final dataframe to a csv file called "final_compounds.csv"
df_final.sort_values(["compound", "frequency_class"]).to_csv('../assets/final_compounds.csv', index=False, encoding='utf-8')